{% extends 'base.html' %} {% block content %}

<div
  class="container"
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #1db954;
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    position: relative;
  "
>
  <h2 style="margin: 2rem 2rem 0 2rem">
    Welcome to GraphMyPlaylist.com. Sign in with Spotify below and then choose
    from one of the many playlists you've made or subscribed to using your
    Spotify account. GraphMyPlaylist will then analyze your playlist and show
    you the results. Enjoy!
  </h2>
  <button
    type="button"
    onclick="logInWithSpotify()"
    style="
      background-color: #1db954;
      font-weight: bold;
      border-radius: 5px;
      height: 3rem;
      width: 50%;
      margin-top: 2rem;
      margin-bottom: 3rem;
    "
  >
    Log-in with Spotify
  </button>
  <div
    style="position: absolute; bottom: 0; left: 0; margin: 0 0 0.5rem 0.5rem"
  >
    Powered by Spotify
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-spotify"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.669 11.538a.498.498 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686zm.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858zm.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288z"
      />
    </svg>
  </div>
</div>

<script>
  logInWithSpotify = () => {
    fetch("/spotify/get-auth-url")
      .then((response) => response.json())
      .then((data) => {
        window.location.replace(data.url);
      });
  };
</script>
{% endblock %}
